table.redTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.redTable td, table.redTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.redTable tbody td {
  font-size: 13px;
}
table.redTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.redTable thead {
  background: #1C6EA4;
}
table.redTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #D0E4F5;
}
table.redTable thead th:first-child {
  border-left: none;
}

table.redTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
}
table.redTable tfoot td {
  font-size: 14px;
}
table.redTable tfoot .links {
  text-align: right;
}
table.redTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

/* Filter table */

table.filterTable {
  table-layout: fixed;
  border-collapse: collapse;
  /* border: 1px solid black; */
  text-align: left;
  height: 80px;
}

table.filterTable th, td {
  /* border: 1px solid #AAAAAA; */
  overflow: hidden;
  padding: 2px;
  width:80px;
}

table.filterTable td:nth-of-type(1) {
    text-align: center;
    width:100px;
}
